.background-img {
    opacity: 0.9; 
    align-items: center;
    overflow: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.page-title {
    text-align: left;
    color: rgba(35, 35, 35);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 12% 20px 0px 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    width: 55%;
  }


.playlist-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    width: 55%; 
    height: 45%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    height: auto;
}

.playlist-cover {
    height: auto;
    margin: 20px; /* Spacing between image and tracks */
}

.playlist-cover p {
    justify-content: center; 
    text-align: center; 
    display: flex;
    color: black;
    margin-top: 10px;
}

.playlist-cover img {
    border-radius: 8px; 
}

.track {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.track img {
    border-radius: 8px;
    margin-right: 15px;
}

.track-info {
    flex-grow: 1;
}

.track-info h3 {
    margin: 0;
    font-size: 18px;
}

.track-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

audio {
    margin-left: 15px;
}

.wellness {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    width: 55%;
    height: 100%;
    align-self: center;
}

.wellness h2 {
    text-align: left;
    color: rgba(35, 35, 35);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.wellness h3 {
    color: rgba(35, 35, 35);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.wellness ul {
    text-align: center; 
}

.weather-card {
    margin: 0px 0px 0px 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    display: grid;
    width: 45%;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr auto;
    height: auto
}

.weather-card h2 {
    text-align: center;
    color: rgba(35, 35, 35);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
    grid-column: 1 / -1;
}

.weather-card h3 {
    color: rgba(35, 35, 35);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.weather-card img {
    width: 90%;
    height: 90%;
    justify-self: end;
    margin: 0 10%;
}

.weather-report {
    text-align: left;
}

.flexbox {
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    width: 55%; 
    margin-bottom: 3%;
}
