@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bungee+Tint&family=Cherry+Bomb+One&family=Risque&family=Scope+One&family=Uncial+Antiqua&display=swap");

.feedback{
    text-align: center;
    padding: 1rem;
    width: 80%;
    margin: auto;
}

h2{
    color: #fff;
}

.feedback-background{
    background-image: url("../assets/feedback-wallpaper.jpg"); 
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

button {
  align-items: center;
  padding: 4px 10px;
  border-radius: 6px;
  color: #3D3D3D;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
    font-family: "Risque", serif;
    background-color: rgba(255, 255, 255, 0);
}

button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.feedback-msg{
    margin-bottom: 5%;
    text-align: center;
    background: #fff3f3;
    padding: 25px;
    column-count: 3;
    column-gap: normal;
    display: grid;
    grid-gap: 20px;
}

